body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #011627;
    overflow: hidden;
}
html, body {
    overflow: hidden;
    width: 100%;
}
.body.onscroll{
    overflow: hidden;
}
@font-face {
    font-family: myFontRetina;
    src: url(/fira-code/FiraCode-Retina.OTF);
}
@font-face {
    font-family: myFontBold;
    src: url(/fira-code/FiraCode-Bold.OTF);
}
@font-face {
    font-family: myFontThin;
    src: url(/fira-code/FiraCode-Light.OTF);
}
@font-face {
    font-family: myFontRegular;
    src: url(/fira-code/FiraCode-Regular.OTF);
}
.loading{
    height: 100vh;
    position: relative;
    width: 100%;
    background: #011221;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load{
    width: 200px;
    height: 200px;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    border-radius: 50%;
    animation: spinner 1.3s linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*MAIN NAV*/
.navigation ul{
    display: flex;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1E2D3D;
    padding: 0 0.5%;
}

.navList ul{
    display: flex;
    align-items: center;
    border: none;
    z-index: 100;
}
.navList ul a{
    padding: 3% 0;
    width: 100px;
    border-right: 1px solid #1E2D3D;
    text-align: center;
    text-decoration: none;
    align-items: center;
}
.navList ul a:hover{
    border-bottom: 2px solid #FEA55F;
    opacity: 0.5;
}
.navActiveLink:hover{
    border-bottom: 2px solid #FEA55F;
}
.navActiveLink{
    border-bottom: 2px solid #FEA55F;
}
.navList ul a li{
    list-style: none;
    font-family: myFontBold;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #607B96;
}
.navList ul a:nth-child(1){
    padding-right: 100px;
    border-bottom: none;
    opacity: 1;
}
.navContact ul a:nth-child(1):hover{
    opacity: 1;
}
.navContact ul a:nth-child(2):hover{
    opacity: 1;
}
.navContact ul li:nth-child(1):hover{
   border-bottom: transparent;
}
.navContact ul{
    display: flex;
    align-items: center;
    border: none;
}
.navContact ul a li{
    padding: 14.5% 0;
    width: 100px;
    border-left: 1px solid #1E2D3D;
    text-align: center;
    list-style: none;
    font-family: myFontBold;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #607B96;
}
.navContact ul a{
    text-decoration: none;
}
.navContact ul a:hover{
    border-bottom: 2px solid #FEA55F;
    opacity: 0.5;
}
/*NAV MOBILE*/
.bar{
    display: none;
    cursor: pointer;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #607B96;
    z-index: 100;
}
.hamburg{
    display: none;
    color: #607B96;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100;
}
.active-nav .bar:nth-child(2){
    opacity: 0;
}
.active-nav .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    transition: 0.3s;
}
.active-nav .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.3s;
}
.nav-menu{
    position: fixed;
    top: 0;
    left: 99.99%;
    width: 100%;
    min-height: 100%;
    z-index: 60;
    background: #011627;
    display: none;
    padding-top: 9%;
    transition: 0.9s;
}
.nav-menu.is-active{
    left: 0%;
}

/*MOBILE MENU*/
.mobileNav ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 3%;
    font-family: myFontRetina;
}
.mobileNav ul a{
    width: 100%;
    text-decoration: none;
}
.mobileNav ul a li{
    width: 100%;
    border: 1px solid #1E2D3D;
    border-top: none;
    padding: 4% 0;
    padding-left: 9%;
    font-size: 12px;
    list-style: none;
    color: #607B96;
}
/*contactMeNav*/
.contactMeNav{
    width: 99.92%;
    border: 1px solid #1E2D3D;
    display: flex;
}
.contactMeNavButton{
    display:flex;
    align-items: center;
    padding: 1% 0;
    width: 120px;
    border-right: 1px solid #1E2D3D;
    justify-content: space-around;
    font-family: myFontRegular;
}
.contactMeNavMobile{
    opacity: 0;
}
.contactMeNavButton p{
    margin: 0;
    font-size: 12px;
    color: #607B96;
}
.contactMeNavButton i{
    font-size: 13px;
    caret-color: transparent;
    color: #607B96;
    cursor: no-drop;
}
/*MAIN FORM*/
.contactMeMainContent{
    display: flex;
    width: 99.92%;
    justify-content: center;
    border: 1px solid #1E2D3D;
    align-items: first baseline;
    border-bottom: none;
    overflow: hidden;
}
.contactMeContent{
    border-right: 1px solid #1E2D3D;
    height: 100vh;
    padding-right: 15%;
    padding-top: 40px;
    font-family: myFontRetina;
    caret-color: transparent;
    overflow: hidden;
}
.contactMeContent form{
    display: block;
}
.contactMeContent form.formTextInactive{
    display: none;
}
.contactMeContent p{
    margin: 0;
    margin-bottom: 2px;
    color: #607B96;
    font-size: 12px;
}
.contactMeContent input{
    width: 300px;
    background: #011221;
    border: 1px solid #1E2D3D;
    outline: #1E2D3D;
    border-radius: 5px;
    height: 23px;
    padding-left: 3%;
    color: #607B96;
    margin-bottom: 20px;
    caret-color: transparent;
    font-size: 12px;
}
.contactMeContent input:focus{
    border: 2px solid #1E2D3D;
    caret-color: #607B96;
}
#Message::-webkit-resizer{
    display: none;
}
#Message::-webkit-scrollbar{
    display: none;
}
#Message:focus{
    border: 2px solid #1E2D3D;
    caret-color: #607B96;
}
#Message{
    padding-bottom: 70px;
    width: 305px;
    background: #011221;
    border: 1px solid #1E2D3D;
    border: 1px solid #1E2D3D;
    outline: #1E2D3D;
    color: #607B96;
    margin-bottom: 20px;
    border-radius: 5px;
    caret-color: transparent;
    font-size: 12px;
    padding-left: 3%;
}
.contactMeContent button{
    background: #1C2B3A;
    outline: #1C2B3A;
    border: 1px solid #1C2B3A;
    color: #fff;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}
/*CONTACT SUCCESS*/
.contactMeContentSuccess.formSuccessActive{
    display: block;
}
.contactMeContentSuccess{
    text-align: center;
    display: none;
}
.contactMeContentSuccess h1{
    font-size: 25px;
    margin: 0;
    color: #fff;
}
.contactMeContentSuccess p{
    margin: 0;
    margin-top: 10px;
}
.contactMeContentSuccess button{
    margin-top: 20px;
    width: 130px;
}
/*CONTACT OUTPUT*/
.contactMeOutput{
    width: 450px;
    word-break: break-all;

}
.contactMeOutput ul li{
    list-style: none;
    font-family: myFontRetina;
    font-size: 11px;
    line-height: 20px;
    color: #607B96;
}
.contactMeOutputNumber{
    margin-right: 20px;
    color: #607B96;
}

#move{
    margin-left: 10px;
}
.contactMeOutputTextPurple{
    color: #C98BDF;
}
.contactMeOutputTextOrange{
    color: #FEA55F;
}
.contactMeOutputTextBlue{
    color: #5565E8;
}

/*FOOTER*/
.footer{
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1E2D3D;
    padding: 0;
    margin: 0 auto;
    
}
.footer1,.footer2{
    display: flex;
    padding: 0 0.5%;
}
.footer1 ul ,.footer2 ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}
.footer1 ul p{
    margin: 0 auto;
    width: 100px;
    border-right: 1px solid #1E2D3D;
    padding: 5% 0;
    font-family: myFontRetina;
    color: #607B96;
    font-size: 10px;
}
.footer1 ul a{
    padding: 4% 0;
    width: 50px;
    border-right: 1px solid #1E2D3D;
    text-align: center;
    text-decoration: none;
    align-items: center;
    color: #607B96;
}
.footer1 ul a li{
    list-style: none;
}
.footer1 ul a li i{
    font-size: 13px;
}
.footer2 ul a{
    padding: 7% 0;
    width: 120px;
    border-left: 1px solid #1E2D3D;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 12px;
    color: #607B96;
}
.footer2 ul a li{
    list-style: none;
}
.footer2 ul a li i{
    font-size: 13px;
}
.maxWidth{
    display: none;
}
@media screen and (min-width:2101px) and (orientation:landscape)  {
    .cc{
        display: none;
    }
    .maxWidth{
        display: block;
        font-family: myFontBold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: fit-content;
        color: #fff;
    }
    .maxWidth h1{
        font-size: 70px;
    }
    .maxWidth p{
        font-size: 40px;
    }
    .aboutMainContent{
        display: none;
    }
    .footer{
        display: none;
    }
}
@media screen and (max-width:2100px) and (orientation:landscape) {
    .load{
        width: 400px;
        height: 400px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .onLoadContent h1{
        font-size: 80px;
    }
    .navList ul a{
        width: 150px;
        padding: 3% 0;
    }
    .navList ul a:nth-child(1){
        width: 180px;
    }
    .navList ul a li{
        font-size: 17px;
    }
    .navContact ul a{
        width: 200px;
        padding: 1% 0;
    }
    .navContact ul a li{
        font-size: 17px;
        width: 200px;
        padding: 10.5% 0;
    }
    /*CONTACT*/
    .contactMeNavButton{
        width: 292px;
    }
    .contactMeNavButton p{
        font-size: 18px;
    }
    .contactMeNavButton i{
        font-size: 20px;
    }
    /*CONTACT INPUT*/
    .contactMeContent{
        padding-top: 5%;
    }
    .contactMeContent input{
        width: 500px;
        height: 40px;
        font-size: 15px;
    }
    .contactMeContent p{
        font-size: 17px;
        margin-bottom: 8px;
    }
    #Message{
        width: 500px;
        height: 90px;
        font-size: 15px;
    }
    .contactMeContent button{
        width: 200px;
        font-size: 17px;
        height: 40px;
    }
    /*CONTACT THANKS*/
    .contactMeContentSuccess h1{
        font-size: 50px;
    }
    .contactMeContentSuccess p{
        font-size: 22px;
    }
    .contactMeContentSuccess a button{
        width: 200px;
        height: 50px;
    }
    /*CONTACT PREVIEW*/
    .contactMeOutput{
        width: 650px;
    }
    .contactMeOutput ul li{
        font-size: 17px;
        line-height: 30px;
    }
    /*FOOTER*/
    .footer1 ul a{
        width: 80px;
    }
    .footer1 ul a li i{
        font-size: 22px;
    }
    .footer1 ul p{
        font-size: 16px;
        width: 150px;
    }
    .footer2 ul a{
        font-size: 15px;
        width: 170px;
    }
    .footer2 ul a li i{
        font-size: 22px;
    }
}
@media screen and (max-width:1600px) and (orientation:landscape) {
    .load{
        width: 350px;
        height: 350px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .onLoadContent h1{
        font-size: 60px;
    }
    .navList ul a{
        width: 120px;
   }
     .navList ul a:nth-child(1){
        width: 120px;
        padding-right: 100px;
    }
    .navList ul a li{
        font-size: 14px;
    }
    .navContact ul a{
        width: 150px;
    }
    .navContact ul a li{
        font-size: 14px;
        width: 150px;
    }
    /*CONTACT*/
    .contactMeNavButton{
        width: 228px;
    }
    .contactMeNavButton p{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .contactMeNavButton i{
        font-size: 18px;
    }
    /*CONTACT INPUT*/
    .contactMeContent{
        padding-right: 12%;
    }
    .contactMeContent{
        font-size: 15px;
    }
    .contactMeContent input{
        width: 400px;
        height: 37px;
    }
    #Message{
        width: 400px;
        height: 70px;
    }
    .contactMeContent button{
        width: 170px;
        font-size: 14px;
    }
    /*CONTACT PREVIEW*/
    .contactMeOutput{
        width: 500px;
    }
    .contactMeOutput ul li{
        font-size: 13px;
        line-height: 27px;
    }
    /*FOOTER*/
    .footer1 ul a{
        width: 60px;
    }
    .footer1 ul p{
        font-size: 15px;
        width: 150px;
    }
    .footer1 ul a li i{
        font-size: 20px;
    }
    .footer2 ul li{
        font-size: 15px;
    }
    .footer2 ul li i{
        font-size: 20px;
    }
}
@media screen and (max-width:1320px) and (orientation:landscape) {
    .load{
        width: 300px;
        height: 300px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    /*MAIN NAV*/
.navigation ul{
    display: flex;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1E2D3D;
    padding: 0 0.5%;
}

.navList ul{
    display: flex;
    align-items: center;
    border: none;
    z-index: 100;
}
.navList ul a{
    padding: 3% 0;
    width: 100px;
    border-right: 1px solid #1E2D3D;
    text-align: center;
    text-decoration: none;
    align-items: center;
}
.navList ul a:hover{
    border-bottom: 2px solid #FEA55F;
    opacity: 0.5;
}
.navActiveLink:hover{
    border-bottom: 2px solid #FEA55F;
}
.navActiveLink{
    border-bottom: 2px solid #FEA55F;
}
.navList ul a li{
    list-style: none;
    font-family: myFontBold;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #607B96;
}
.navList ul a:nth-child(1){
    padding-right: 100px;
    border-bottom: none;
    opacity: 1;
}

.navContact ul a:nth-child(1):hover{
    opacity: 1;
}
.navContact ul a:nth-child(2):hover{
    opacity: 1;
}
.navContact ul li:nth-child(1):hover{
   border-bottom: transparent;
}
.navContact ul{
    display: flex;
    align-items: center;
    border: none;
}
.navContact ul a li{
    padding: 9% 0;
    width: 100px;
    border-left: 1px solid #1E2D3D;
    text-align: center;
    list-style: none;
    font-family: myFontBold;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #607B96;
}
.navContact ul a{
    text-decoration: none;
}
.navContact ul a:hover{
    border-bottom: 2px solid #FEA55F;
    opacity: 0.5;
}
/*contactMeNav*/
.contactMeNav{
    width: 99.92%;
    border: 1px solid #1E2D3D;
    display: flex;
}
.contactMeNavButton{
    display:flex;
    align-items: center;
    padding: 0.7% 0;
    width: 167px;
    border-right: 1px solid #1E2D3D;
    justify-content: space-around;
    font-family: myFontRegular;
}
.contactMeNavMobile{
    display: none;
}
.contactMeNavButton p{
    margin: 0;
    font-size: 12px;
    color: #607B96;
}
.contactMeNavButton i{
    font-size: 13px;
    caret-color: transparent;
    color: #607B96;
    cursor: no-drop;
}
/*MAIN FORM*/
.contactMeMainContent{
    display: flex;
    width: 99.92%;
    justify-content: center;
    border: 1px solid #1E2D3D;
    align-items: first baseline;
    border-bottom: none;
    overflow: hidden;
}
.contactMeContent{
    border-right: 1px solid #1E2D3D;
    height: 100vh;
    padding-right: 15%;
    padding-top: 35px;
    font-family: myFontRetina;
    caret-color: transparent;
    overflow: hidden;
}
.contactMeContent form{
    display: block;
}
.contactMeContent form.formTextInactive{
    display: none;
}
.contactMeContent p{
    margin: 0;
    margin-bottom: 2px;
    color: #607B96;
    font-size: 12px;
}
.contactMeContent input{
    width: 300px;
    background: #011221;
    border: 1px solid #1E2D3D;
    outline: #1E2D3D;
    border-radius: 5px;
    height: 23px;
    padding-left: 3%;
    color: #607B96;
    margin-bottom: 20px;
    caret-color: transparent;
    font-size: 12px;
}
.contactMeContent input:focus{
    border: 2px solid #1E2D3D;
    caret-color: #607B96;
}
#Message::-webkit-resizer{
    display: none;
}
#Message::-webkit-scrollbar{
    display: none;
}
#Message:focus{
    border: 2px solid #1E2D3D;
    caret-color: #607B96;
}
#Message{
    padding-bottom: 50px;
    width: 305px;
    background: #011221;
    border: 1px solid #1E2D3D;
    border: 1px solid #1E2D3D;
    outline: #1E2D3D;
    color: #607B96;
    margin-bottom: 20px;
    border-radius: 5px;
    caret-color: transparent;
    font-size: 12px;
    padding-left: 3%;
}
.contactMeContent button{
    background: #1C2B3A;
    outline: #1C2B3A;
    border: 1px solid #1C2B3A;
    color: #fff;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}
/*CONTACT SUCCESS*/
.contactMeContentSuccess.formSuccessActive{
    display: block;
}
.contactMeContentSuccess{
    text-align: center;
    display: none;
}
.contactMeContentSuccess h1{
    font-size: 25px;
    margin: 0;
    color: #fff;
}
.contactMeContentSuccess p{
    margin: 0;
    margin-top: 10px;
}
.contactMeContentSuccess a button{
    margin-top: 20px;
    width: 150px;
    height: 35px;
}
/*CONTACT OUTPUT*/
.contactMeOutput{
    width: 420px;
    word-break: break-all;

}
.contactMeOutput ul li{
    list-style: none;
    font-family: myFontRetina;
    font-size: 11px;
    line-height: 20px;
    color: #607B96;
}
.contactMeOutputNumber{
    margin-right: 20px;
    color: #607B96;
}

#move{
    margin-left: 10px;
}
.contactMeOutputTextPurple{
    color: #C98BDF;
}
.contactMeOutputTextOrange{
    color: #FEA55F;
}
.contactMeOutputTextBlue{
    color: #5565E8;
}

/*FOOTER*/
.footer{
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1E2D3D;
    padding: 0;
    margin: 0 auto;
    
}
.footer1,.footer2{
    display: flex;
    padding: 0 0.5%;
}
.footer1 ul ,.footer2 ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}
.footer1 ul p{
    margin: 0 auto;
    width: 100px;
    border-right: 1px solid #1E2D3D;
    padding: 5% 0;
    font-family: myFontRetina;
    color: #607B96;
    font-size: 10px;
}
.footer1 ul a{
    padding: 4% 0;
    width: 50px;
    border-right: 1px solid #1E2D3D;
    text-align: center;
    text-decoration: none;
    align-items: center;
    color: #607B96;
}
.footer1 ul a li{
    list-style: none;
}
.footer1 ul a li i{
    font-size: 13px;
}
.footer2 ul a{
    padding: 6% 0;
    width: 140px;
    border-left: 1px solid #1E2D3D;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 10px;
    color: #607B96;
}
.footer2 ul a li{
    list-style: none;
}
.footer2 ul a li i{
    font-size: 15px;
}

}
@media screen and (max-width:1100px) and (orientation:landscape) {
    .navList ul a{
        padding: 2.5% 0;
        width: 80px;
    }
    .navList ul a:nth-child(1){
        width: 100px;
        padding-right: 50px;
    }
    .navList ul a li{
        font-size: 10px;
    }
    .navContact ul a{
        width: 100px;
    }
    .navContact ul a li{
        font-size: 10px;
        padding: 9% 0;
    }
    /*CONATCT*/
    .contactMeNavButton{
        width: 155.5px;
    }
    .contactMeNavButton p{
        font-size: 11px;
    }
    .contactMeNavButton i{
        font-size: 12px;
    }
    /*CONTACT INPUT*/
    .contactMeContent{
        padding-right: 13%;
    }
    .contactMeContent input{
        width: 250px;
        height: 23px;
        font-size: 10px;
    }
    .contactMeContent p{
        font-size: 10px;
        margin-bottom: 1px;
    }
    #Message{
        width: 250px;
        font-size: 10px;
        padding-bottom: 10px;
    }
    .contactMeContent button{
        height: 25px;
        width: 100px;
        font-size: 10px;
        border-radius: 5px;
    }
    /*CONTACT PREVIEW*/
    .contactMeOutput{
        width: 370px;
    }
    .contactMeOutput ul li{
        font-size: 9px;
    }
    /*CONTACT SUCCESS*/
    .contactMeContentSuccess a button{
        height: 25px;
        width: 120px;
        font-size: 10px;
    }
    /*FOOTER*/
    .footer2 ul a li{
        font-size: 11px;
    }
}
@media screen and (max-width:1100px) and (orientation:portrait) {
    .load{
        width: 250px;
        height: 250px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .contactMeNavButton{
        width: 207px;
    }
    .contactMeMainContent{
        display: block;
        margin: 0;
        height: 100vh;
    }
    .contactMeContent{
        padding: 0;
        height: 40vh;
        padding-top: 50px;
    }
    .contactMeContent form{
        margin: 0 auto;
        padding-left: 24%;
    }
    .contactMeContent p{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .contactMeContent input{
        width: 500px;
        height: 40px;
        font-size: 18px;
    }
    #Message{
        width: 500px;
        padding-bottom: 100px;
        font-size: 18px;
    }
    .contactMeContent button{
        width: 200px;
        height: 40px;
        font-size: 16px;
    }
    /*CONTACT PRE VIEW*/
    .contactMeMainOutput{
        padding-left: 20%;
    }
    .contactMeOutput{
        width: 700px;
    }
    .contactMeOutput ul li{
        font-size: 17px;
        line-height: 30px;
    }
}
@media screen and (max-width:1100px) and (max-height:400px) and (orientation:landscape) {
    body,html{
        overflow: scroll;
    }
    .contactMeContent{
        padding-top: 20px;
        padding-right: 7%;
    }
    .contactMeContent input{
        margin-bottom: 12px;
    }
    .contactMeContent{
        overflow: hidden;
    }
}
@media screen and (max-width:950px) and (orientation:portrait) {
    .contactMeContent form{
        margin: 0 auto;
        padding-left: 22%;
    }
    .contactMeMainOutput{
        padding-left: 18%;
    }
}
@media screen and (max-width:900px) and (orientation:portrait) {
    .load{
        width: 250px;
        height: 250px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .contactMeNavButton{
        width: 206px;
    }
    .contactMeContent{
        padding: 0;
        height: 40vh;
        padding-top: 50px;
    }
    .contactMeContent form{
        margin: 0 auto;
        padding-left: 20%;
    }
    .contactMeContent p{
        font-size: 13px;
        margin-bottom: 2px;
    }
    .contactMeContent input{
        width: 450px;
        height: 30px;
        font-size: 14px;
    }
    #Message{
        width: 450px;
        padding-bottom: 70px;
        font-size: 18px;
    }
    .contactMeContent button{
        width: 150px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
    }
    /*CONTACT PRE VIEW*/
    .contactMeMainOutput{
        padding-left: 16%;
    }
    .contactMeOutput{
        width: 700px;
    }
    .contactMeOutput ul li{
        font-size: 13px;
        line-height: 25px;
    }
}
@media screen and (max-width:800px) and (orientation:portrait) {
    .contactMeContent form{
        margin: 0 auto;
        padding-left: 18%;
    }
    .contactMeMainOutput{
        padding-left: 14%;
    }
}
@media screen and (max-width:750px) and (orientation:landscape) {
    .contactMeMainContent{
        margin: 0;
    }
    .contactMeContent{
        padding-top: -20px;
        overflow: hidden;
    }
    .contactMeNavButton{
        width: 153px;
    }
    .contactMeContent{
        padding-right: 7%;
    }
    .contactMeContent input{
        width: 230px;
        height: 20px;
        margin-bottom: 5px;
    }
    .contactMeOutput{
        width: 300px;
    }
    #Message{
        width: 230px;
        height: 50px;
        margin-bottom: 15px;
    }
    .contactMeOutput ul{
        padding: 0;
        padding-left: 10px;
    }
    .contactMeContent button{
        width: 130px;
        height: 35px;
        font-size: 10px;
    }
    .contactMeOutput ul li{
        font-size: 8px;
        line-height: 15px;
    }
}
@media screen and (max-width:700px) and (orientation:portrait) {
    .contactMeContent form{
        margin: 0 auto;
        padding-left: 13%;
    }
    .contactMeMainOutput{
        padding-left: 11%;
    }
    .navigation{
        z-index: 100;
        position: relative;
    }
    .navigation ul{
        display:block;
        padding: 1% 0;
    }
    .navList ul a{
        display: none;
    }
    .navList ul a li{
        font-size: 14px;
        width: 150px;
    }
    .navList ul{
        display: flex;
        justify-content: space-between;
        padding: 0% 4%;
    }
    .navList ul a:nth-child(1){
        display: block;
        border-right: none;
    }
    .navContact{
        display: none;
    }
    .navContact ul{
        display: none;
    }
    .navContact ul a{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .hamburg{
        display: block;
    }
    .bar{
        display: block;
    }
    .contactMeNavButton p{
        font-size: 15px;
    }
    .contactMeNavButton i{
        font-size: 16px;
    }
}
@media screen and (max-width:550px) and (orientation:portrait) {
    .load{
        width: 200px;
        height: 200px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .navigation{
        z-index: 100;
        position: relative;
    }
    .navigation ul{
        display:block;
        padding: 1% 0;
    }
    .navList ul a{
        display: none;
    }
    .navList ul a li{
        font-size: 14px;
        width: 150px;
    }
    .navList ul{
        display: flex;
        justify-content: space-between;
        padding: 0% 4%;
    }
    .navList ul a:nth-child(1){
        display: block;
        border-right: none;
    }
    .navContact{
        display: none;
    }
    .navContact ul{
        display: none;
    }
    .navContact ul a{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .hamburg{
        display: block;
    }
    .bar{
        display: block;
    }
    /*CONTACT*/
    .contactMeNav{
        border: none;
        width: 100%;
        text-align: center;
    }
    .contactMeNavButton{
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #1E2D3D;
    }
    .contactMeNavMobile{
        opacity: 1;
        padding: 0;
        width: 10px;
    }
    .contactMeNavButton p{
        font-size: 15px;
    }
    .contactMeNavButton{
        display: block;
    }
    .contactMeNavButton i{
        display: none;
    }
    .contactMeMainContent{
        border: none;
    }
    .contactMeContent{
        height: 100%;
        border: none;
        padding: 0;
        padding-top: 30px;
    }
    .contactMeContent form{
        padding: 0;
        padding-left: 23%;
    }
    .contactMeContent p{
        font-size: 15px;
    }
    .contactMeContent input{
        width: 250px;
        font-size: 12px;
    }
    #Message{
        width: 250px;
        font-size: 12px;
    }
    .contactMeContent button{
        width: 150px;
        height: 35px;
        display: block;
    }
    .contactMeContentSuccess a{
        text-decoration: none;
    }
    .contactMeContentSuccess a button{
        text-align: center;
        margin: 0 auto;
        margin-left: 30%;
        margin-top: 20px;
    }
    .contactMeMainOutput{
        display: none;
    }
    /*FOOTER*/
    .footer{
        display: flex;
    }
    .footer1 ul {
        margin: 0;
    }
    .footer2 ul a{
        padding: 9% 0;
    }
}
@media screen and (max-width:450px) and (orientation:portrait) {
    .load{
        width: 200px;
        height: 200px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .navigation{
        z-index: 100;
        position: relative;
    }
    .navigation ul{
        display:block;
        padding: 1% 0;
    }
    .navList ul a{
        display: none;
    }
    .navList ul a li{
        font-size: 14px;
        width: 150px;
    }
    .navList ul{
        display: flex;
        justify-content: space-between;
        padding: 0% 4%;
    }
    .navList ul a:nth-child(1){
        display: block;
        border-right: none;
    }
    .navContact{
        display: none;
    }
    .navContact ul{
        display: none;
    }
    .navContact ul a{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .hamburg{
        display: block;
    }
    .bar{
        display: block;
    }
    /*CONTACT*/
    .contactMeNav{
        border: none;
        width: 100%;
        text-align: center;
    }
    .contactMeNavButton{
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #1E2D3D;
    }
    .contactMeNavMobile{
        opacity: 1;
        padding: 0;
        width: 10px;
    }
    .contactMeNavButton p{
        font-size: 15px;
    }
    .contactMeNavButton{
        display: block;
    }
    .contactMeNavButton i{
        display: none;
    }
    .contactMeMainContent{
        border: none;
    }
    .contactMeContent{
        height: 100%;
        border: none;
        padding: 0;
        padding-top: 30px;
    }
    .contactMeContent form{
        padding: 0;
        padding-left: 20%;
    }
    .contactMeContent p{
        font-size: 15px;
    }
    .contactMeContent input{
        width: 250px;
        font-size: 12px;
    }
    #Message{
        width: 250px;
        font-size: 12px;
    }
    .contactMeContent button{
        width: 150px;
        height: 35px;
        display: block;
    }
    .contactMeContentSuccess a{
        text-decoration: none;
    }
    .contactMeContentSuccess a button{
        text-align: center;
        margin: 0 auto;
        margin-left: 30%;
        margin-top: 20px;
    }
    .contactMeMainOutput{
        display: none;
    }
    /*FOOTER*/
    .footer{
        display: flex;
    }
    .footer1 ul {
        margin: 0;
    }
    .footer2 ul a{
        padding: 9% 0;
    }
}
@media screen and (max-width:400px) and (orientation:portrait) {
    .load{
        width: 200px;
        height: 200px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .navigation{
        z-index: 100;
        position: relative;
    }
    .navigation ul{
        display:block;
        padding: 1% 0;
    }
    .navList ul a{
        display: none;
    }
    .navList ul a li{
        font-size: 14px;
        width: 150px;
    }
    .navList ul{
        display: flex;
        justify-content: space-between;
        padding: 0% 4%;
    }
    .navList ul a:nth-child(1){
        display: block;
        border-right: none;
    }
    .navContact{
        display: none;
    }
    .navContact ul{
        display: none;
    }
    .navContact ul a{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .hamburg{
        display: block;
    }
    .bar{
        display: block;
    }
    /*CONTACT*/
    .contactMeNav{
        border: none;
        width: 100%;
        text-align: center;
    }
    .contactMeNavButton{
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #1E2D3D;
    }
    .contactMeNavMobile{
        opacity: 1;
        padding: 0;
        width: 10px;
    }
    .contactMeNavButton p{
        font-size: 15px;
    }
    .contactMeNavButton{
        display: block;
    }
    .contactMeNavButton i{
        display: none;
    }
    .contactMeMainContent{
        border: none;
    }
    .contactMeContent{
        height: 100%;
        border: none;
        padding: 0;
        padding-top: 30px;
    }
    .contactMeContent form{
        padding: 0;
        padding-left: 17%;
    }
    .contactMeContent p{
        font-size: 15px;
    }
    .contactMeContent input{
        width: 250px;
        font-size: 12px;
    }
    #Message{
        width: 250px;
        font-size: 12px;
    }
    .contactMeContent button{
        width: 150px;
        height: 35px;
        display: block;
    }
    .contactMeContentSuccess a{
        text-decoration: none;
    }
    .contactMeContentSuccess a button{
        text-align: center;
        margin: 0 auto;
        margin-left: 30%;
        margin-top: 20px;
    }
    .contactMeMainOutput{
        display: none;
    }
    /*FOOTER*/
    .footer{
        display: flex;
    }
    .footer1 ul {
        margin: 0;
    }
    .footer2 ul a{
        padding: 9% 0;
    }
}
@media screen and (max-width:350px) and (orientation:portrait) {
    .load{
        width: 200px;
        height: 200px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        border-radius: 50%;
        animation: spinner 1.3s linear infinite;
    }
    .navigation{
        z-index: 100;
        position: relative;
    }
    .navigation ul{
        display:block;
        padding: 1% 0;
    }
    .navList ul a{
        display: none;
    }
    .navList ul a li{
        font-size: 14px;
        width: 150px;
    }
    .navList ul{
        display: flex;
        justify-content: space-between;
        padding: 0% 4%;
    }
    .navList ul a:nth-child(1){
        display: block;
        border-right: none;
    }
    .navContact{
        display: none;
    }
    .navContact ul{
        display: none;
    }
    .navContact ul a{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .hamburg{
        display: block;
    }
    .bar{
        display: block;
    }
    /*CONTACT*/
    .contactMeNav{
        border: none;
        width: 100%;
        text-align: center;
    }
    .contactMeNavButton{
        border: none;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #1E2D3D;
    }
    .contactMeNavMobile{
        opacity: 1;
        padding: 0;
        width: 10px;
    }
    .contactMeNavButton p{
        font-size: 15px;
    }
    .contactMeNavButton{
        display: block;
    }
    .contactMeNavButton i{
        display: none;
    }
    .contactMeMainContent{
        border: none;
    }
    .contactMeContent{
        height: 100%;
        border: none;
        padding: 0;
        padding-top: 30px;
    }
    .contactMeContent form{
        padding: 0;
        padding-left: 12%;
    }
    .contactMeContent p{
        font-size: 15px;
    }
    .contactMeContent input{
        width: 250px;
        font-size: 12px;
    }
    #Message{
        width: 250px;
        font-size: 12px;
    }
    .contactMeContent button{
        width: 150px;
        height: 35px;
        display: block;
    }
    .contactMeContentSuccess a{
        text-decoration: none;
    }
    .contactMeContentSuccess a button{
        text-align: center;
        margin: 0 auto;
        margin-left: 30%;
        margin-top: 20px;
    }
    .contactMeMainOutput{
        display: none;
    }
    /*FOOTER*/
    .footer{
        display: flex;
    }
    .footer1 ul {
        margin: 0;
    }
    .footer2 ul a{
        padding: 9% 0;
    }
}